.container {
    width: 80%;
    margin: 0 auto;
}
.post {
    width: 60%;
    background-color: #e1e1e1;
    color: #000000;
    margin: 0 auto;
    padding: 3rem 2rem;
    border: 1px solid #000000;
}
.post h1 {
    text-align: center;
}